################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/GitHub/FileContentIndex/4afa8559-8574-4f25-a649-847d4083570c.vsidx
/.vs
